<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <h3 class="logo">
        <a href="/">GrowthPal</a>
      </h3>
      <h4>Resend confirmation instructions</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper clearfix">
        <div class="formy">
          <div class="row">
            <div class="col-md-12">

              <%= form_for(resource, :as => resource_name,
              :url => confirmation_path(resource_name),
              :html => { :method => :post, :role => "form" }) do |f| %>

              <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, :autofocus => true, class: "form-control" %>
                </div>

                <div class="submit">
                  <%= button_tag(type: 'submit', class: "button-clear") do %>
                    <span>Resend confirmation instructions</span>
                  <% end %>
                </div>

              <% end %>
  
            </div>
          </div>            
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
