<div id="posts">
  <div class="container">
    <div class="row">
      
      <div class="col-md-9">
        <% @posts.each do |post| %>
        <div class="post">
          <div class="title">
            <h1><%= link_to post.title, comfy_blog_post_path(@cms_site.path, @blog.path, post.slug) %></h1>
          </div>
          <div class="author">
            <strong><em>Published <%= time_ago_in_words(post.updated_at) %> ago</em></strong>
          </div>
          <br>
          <%= post.excerpt.html_safe %>
          <br>
          <em><%= link_to "Continue reading", comfy_blog_post_path(@cms_site.path, @blog.path, post.slug), :class => "continue-reading" %></em>
        </div>
        <% end %>
        <div class="pages">
          <ul class="pagination">
              <%= comfy_paginate @posts %>
          </ul>
        </div>
      </div>
      
      <div class="col-md-3 sidebar">
        <div class="updates">
          <strong>
            Keep up to date
            <i class="fa fa-rss"></i>
          </strong>
          <p>
            Never miss an update. 
            Sign up  to receieve an email whenever we post something in the blog.
          </p>
        </div>
        <div class="best-hits">
          <strong>Quick Navigation</strong>
          <% @posts.each do |post| %>
            <%= link_to post.title, comfy_blog_post_path(@cms_site.path, @blog.path, post.slug) %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>