<div id="blogpost-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 post">
        <div class="title">
          <h1><%= @post.title %></h1>
        </div>
        <div class="author">
          <strong><em>By <%= @post.author %></em></strong>
          <strong><em>on <%= @post.published_at.strftime("%-d %B, %Y") %></em></strong>
        </div>
        <div class="content">
          <%= @post.content.html_safe %>
        </div>
        <div class="comments">
          <%= render 'layouts/disqus_script' %>
        </div>
      </div>
    </div>
  </div>
</div>