<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <h3 class="logo">
        <a href="/">GrowthPal</a>
      </h3>
      <h4>Change your password</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper clearfix">
        <div class="formy">
          <div class="row">
            <div class="col-md-12">

              <%= form_for(resource, :as => resource_name,
              :url => password_path(resource_name),
              :html => { :method => :put, :role => "form" }) do |f| %>

              <%= devise_error_messages! %>

              <%= f.hidden_field :reset_password_token %>

                <div class="form-group">
                  <%= f.label :password, "New password" %>
                  <%= f.password_field :password, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation, "Confirm new password" %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
                <div class="submit">
                  <%= button_tag(type: 'submit', class: "button-clear") do %>
                    <span>Change my password</span>
                  <% end %>
                </div>

              <% end %>
  
            </div>
          </div>            
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>