<div id="first-option">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>What website package would you like?</h3>
        <p>Choose the pricing that fits your business needs</p>
      </div>
    </div>

    <div class="row charts">
      <div class="col-md-4">
        <div class="chart first">
          <div class="plan-name">Monthly Retainer</div>
          <div class="quantity">
            <span class="dollar">$</span>
            <span class="price">1000</span>
            <span class="period">/month</span>
          </div>
          <div class="specs">
            <div class="spec">
              <span class="variable">5</span>
              team members
            </div>
            <div class="spec">
              <span class="variable">Digital</span>
              recurring billing
            </div>
            <div class="spec">
              <span class="variable">Virtual</span>
              online terminal
            </div>
            <div class="spec">
              <span class="variable">10</span>
              total products
            </div>
            <div class="spec">
              <span class="variable">1.0%</span>
              Transaction fee
            </div>
          </div>
          <% if Subscription.where(:email => current_user.email).count > 0 %>
            <strong><em>Thanks for subscribing</em></strong>
          <% else %>
            <%= form_tag subscriptions_path do %>
              <%= hidden_field_tag :plan_id, "growthpal-retainer" %>
              <script
                src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key=<%= Rails.configuration.stripe[:publishable_key] %>
                data-name="Monthly Retainer"
                data-description="Up to 10 hours / month"
                data-currency="aud"
                data-image="<%= asset_path 'stripe-icon.png' %>"
                data-email="<%= current_user.email %>">
              </script>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="chart featured">
          <div class="plan-name">Website Package</div>
          <div class="quantity">
            <span class="dollar">$</span>
            <span class="price"><%= @website_package.to_i/100 %></span>
          </div>            
          <div class="specs">
            <div class="spec">
              <span class="variable">15</span>
              team members
            </div>
            <div class="spec">
              <span class="variable">Digital</span>
              recurring billing
            </div>
            <div class="spec">
              <span class="variable">Virtual</span>
              online terminal
            </div>
            <div class="spec">
              <span class="variable">15</span>
              total products
            </div>
            <div class="spec">
              <span class="variable">0.5%</span>
              Transaction fee
            </div>
          </div>
          <%= form_tag charges_path do %>
            <%= hidden_field_tag :product_id, "website-package" %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="GrowthPal"
              data-description="Website Package"
              data-amount="<%= @website_package %>"
              data-image="<%= asset_path 'stripe-icon.png' %>"
              data-email="<%= current_user.email %>">
            </script>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="chart last">
          <div class="plan-name">Stripe Setup</div>
          <div class="quantity">
            <span class="dollar">$</span>
            <span class="price"><%= @stripe_setup.to_i/100 %></span>
          </div>
          <div class="specs">
            <div class="spec">
              <span class="variable">Unlimited</span>
              team members
            </div>
            <div class="spec">
              <span class="variable">Digital</span>
              recurring billing
            </div>
            <div class="spec">
              <span class="variable">Virtual</span>
              online terminal
            </div>
            <div class="spec">
              <span class="variable">25</span>
              total products
            </div>
            <div class="spec">
              <span class="variable">No</span>
              Transaction fee
            </div>
          </div>
          <%= form_tag charges_path do %>
            <%= hidden_field_tag :product_id, "stripe-setup" %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="GrowthPal"
              data-description="Stripe Setup"
              data-amount="<%= @stripe_setup %>"
              data-image="<%= asset_path 'stripe-icon.png' %>"
              data-email="<%= current_user.email %>">
            </script>
          <% end %>
        </div>
      </div>        
    </div>
    <div class="row message">
      <p>
        All of our plans come with a 30 day trial with no credit card required, we also offer a 
        <a href="/contact">free consultation</a>.
      </p>
    </div>
    <div class="row faq">
      <div class="col-md-12">
        <div class="row header">
          <div class="col-md-12">
            <h3>Frequently Asked Questions</h3>
          </div>
        </div>
        <div class="row questions">
          <div class="col-md-6">
            <div class="question">
              <strong>Do I need a card to signup?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
            <div class="question">
              <strong>Can I cancel at anytime?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="question">
              <strong>Can I cancel at anytime?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
            <div class="question">
              <strong>Do I need a card to signup?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row contact">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <h4>
            <span class="brankic-phone2"></span>
            Unsure which plan is best for you? We're here to help.
            <a href="/contact">Get in touch!</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>