<div id="posts">
  <div class="container">
    <div class="row">
      
      <div class="col-md-9">
        <% @posts.each do |post| %>
        <div class="post">
          <div class="title">
            <%= link_to "#{post.title}", post_path(post.slug) %>
          </div>
          <div class="author">
            <%#= @post.updated_at.strftime("%Y, %B %-d") %>
            <%= time_ago_in_words(post.updated_at) %> ago
          </div>
          <%= post.content_html.html_safe %>
          <%= link_to "Continue reading", post_path(post.slug), :class => "continue-reading" %>
        </div>
        <% end %>
        <div class="pages">
          <ul class="pagination">
              <%= paginate @posts %>
          </ul>
        </div>
      </div>
      
      <div class="col-md-3 sidebar">
        <div class="updates">
          <strong>
            Keep up to date
            <i class="fa fa-rss"></i>
          </strong>
          <p>
            Never miss an update. 
            Sign up  to receieve an email whenever we post something in the blog.
          </p>
        </div>
        <div class="best-hits">
          <strong>Quick Navigation</strong>
          <% @posts.each do |post| %>
            <%= link_to "#{post.title}", post_path(post.slug) %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>