<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <h3 class="logo">
        <a href="/">GrowthPal</a>
      </h3>
      <h4>Sign in to your account.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper clearfix">
        <div class="formy">
          <div class="row">
            <div class="col-md-12">

              <%= form_for(resource, :as => resource_name,
              :url => session_path(resource_name),
              role: "form") do |f| %>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, :autofocus => true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                </div>
                <% end -%>

                <div class="submit">
                  <%= button_tag(type: 'submit', class: "button-clear") do %>
                    <span>Sign in to my account</span>
                  <% end %>
                </div>

              <% end %>
  
            </div>
          </div>            
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
