<%= form_tag charges_path do %>
  <%= hidden_field_tag :product_id, "website-package" %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @website_package.to_i/100 %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="GrowthPal"
          data-description="Website Package"
          data-amount="<%= @website_package %>"
          data-image="<%= asset_path 'stripe-icon.png' %>"
          data-email="<%= current_user.email %>"></script>
<% end %>

<%= form_tag charges_path do %>
  <%= hidden_field_tag :product_id, "other-package" %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @other_package.to_i/100 %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="GrowthPal"
          data-description="Website Package"
          data-amount="<%= @other_package %>"
          data-image="<%= asset_path 'stripe-icon.png' %>"
          data-email="<%= current_user.email %>"></script>
<% end %>