<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "GrowthPal" %></title>
  <%#= favicon_link_tag 'favicon.ico' %>
  <%#= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="about-us">
  <header class="navbar navbar-inverse normal" role="banner">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">GrowthPal</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <%= render 'layouts/navigation_links' %>
            </ul>
        </nav>
      </div>
  </header>

  <%= yield %>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 copyright">
          &copy; GrowthPal 2015
        </div>
        <div class="col-sm-6 menu">
          <ul>
            <%= render 'layouts/footer_links' %>  
          </ul>
        </div>
        <div class="col-sm-3 social">
          <a href="#">
            <img src="images/social/social-tw.png" alt="twitter" />
          </a>
          <a href="#">
            <img src="images/social/social-dbl.png" alt="dribbble" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      $(function() {
      $('.flexslider').flexslider({
        directionNav: false,
        slideshowSpeed: 4000
      });
      $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
</body>
</html>
