<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "GrowthPal" %></title>
  <%#= favicon_link_tag 'favicon.ico' %>
  <%#= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/vwo_code' %>
</head>
<body id="home3">

  <div class="st-container">

    <nav class="nav-menu">
      <h3>Menu</h3>
      <%= render 'layouts/navigation_items' %>
    </nav>

    <div class="st-pusher">

      <div class="st-content">

        <header class="navbar navbar-inverse hero" role="banner">
            <div class="container">
              <div class="navbar-header">
                  <a href="/" class="navbar-brand">GrowthPal</a>
              </div>
              <div class="sidebar-toggle">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
        </header>

        <div class="row">
          <div class="col-sm-3 col-sm-offset-9 text-left message-box">
            <%= render 'layouts/messages' %>
          </div>
        </div>

        <%= yield %>

        <%= render 'layouts/footer' %>

      </div><!-- end .st-content -->

    </div><!-- end .st-pusher -->

  </div><!-- end .st-container -->

  <script type="text/javascript">
    $(function () {
      // Makes the demo video appear/disappear 
      var $demo = $("#demo");
      $('#demo').on('hidden.bs.modal', function () {
        $demo.find("iframe").remove();
      })
      $('#demo').on('show.bs.modal', function () {
        if (!$demo.find("iframe").length) {
          $demo.find(".modal-body").append("<iframe src='http://player.vimeo.com/video/22439234' width='650' height='370' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>")
        }       
      });

      // triggers the off-canvas panel
      $(".sidebar-toggle").click(function (e) {
        e.stopPropagation();
        $(".st-container").toggleClass("nav-effect");
      });
      $(".st-pusher").click(function () {
        $(".st-container").removeClass("nav-effect");
      });

       // parallax header
       $('#cover-image').css("background-position", "50% 50%");
        $(window).scroll(function() {
        var scroll = $(window).scrollTop(), 
          slowScroll = scroll/4,
          slowBg = 50 - slowScroll;
          
        $('#cover-image').css("background-position", "50% " + slowBg + "%");
      });
    });
  </script>
</body>
</html>
